/* page.css */

/* Set background color for the body */
body {
    background-color: #fce4ec;
    background-image: url('wlp4.png');
    background-repeat: repeat;
    margin: 0;
    padding: 20px;
}

/* Styling the heading */
h1 {
    color: #ff4081;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

/* Card Styling */
.card {
    border: 1px solid #ff4081;
    border-radius: 10px;
    background-color: #fff;
}

.card-title {
    color: #ff4081;
    font-weight: bold;
}

/* Button Styling */
.btn-primary {
    background-color: #ff4081;
    border-color: #ff4081;
}

.btn-primary:hover {
    background-color: #e91e63;
    border-color: #e91e63;
}

/* Image styling to center and ensure proper sizing */
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Adding space between the cards */
.card {
    margin: 15px;
}

/* Set the text color and alignment */
.card-text {
    color: #333;
    text-align: center;
}
