body {
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.containerUtama {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
    margin: 2rem 0;
}

.sidebarSatu,
.sidebarDua {
    width: 20%;
    padding: 2rem;
}

.sidebarSatu {
    background-color: yellow;
    padding-right: 0;
    order: 2;
}

.sidebarDua {
    background-color: bisque;
    order: 3;
}

.main-content {
    background-color: yellowgreen;
    width: 60%;
    padding: 2rem;
    order: 2;
}